/* pages with text*/ 

.textpagescontainer {
    width: 100%;
}

.textpages {
    background-color: #c9e0ee;
    width: 600px;
    border-radius: 10px;

}

/*main page container */ 
.container-fluid {
    width: 100%;
    padding: 0;
   
    
}

.caontainercaro {
    width: 100%;
    
}

.productimage {
   
    width: 300px;
    height: 300px;
    
}
/*cart page */ 

.cartcontainer {
    min-height: 100vh;
    width: 100%;
}

.cart-secondcontainter {
    
    width: 800px;
}

.cart-items {
    
}

.App {
    
    height: 550px;
    font-family: sans-serif;
    text-align: center;
    
    
  }

  .customcarousel {
      width: 1200px;
      height: 500px;
  }
  

.customheader {

color: #f9de59;    

}


.customnav {
 
    background-color:  #f9de59;    
    min-height: 5vh;
    padding-right: 150px;
    padding-left: 150px;
   

}

.navbar-collapse {
    justify-content: flex-end;
    
    
}

.maincontainer {
    margin-top: -16px;
    background-color: black;
}
    
.customsearchcontainer {

    
}

.customsearchfield {
    width: 800px;
    
}

.customsearchform {
    height: 40px;
    font-size: 8px;
}

.customsearchbtn {
    height: 30px;
    width: 100px;
    
}

input.customsearchform.form-control {
    font-size: 14px;
}

.mainprcontainer {
    width: 100%;
    padding: 30px;
}

.customproductcontainer {
    width: 1200px;
}

.card {
    background-color: #f9de59;
    color:rgb(0, 0, 0)
}

.card-body {
    background-color: #1A1A1A;
}

.main-footer {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }


  /*shop page */ 

  .shoppagelist {

    padding-left: 0px;
   
	
  }







.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

.name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
    font-style: italic;
    background: rgb(247, 210, 4);
}


.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 500px) {
    .customcarousel {
        width: 350px;
        height: 300px;
    }
    .App {
        height: 350px;
    }

    .customnav {
        background-color: #77C3EC;
        min-height: 15vh;
        padding-right: 5px;
        padding-left: 5px;
    }

    

    .filters  {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shoppagelist {
        width: 100%;
        font-size: 12px;
        list-style: none;
    
        display: inline-flex;
        
      }
      .shopcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .productresponsive {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .input-group .btn {
        width: 80px;
    }

    .btnpadding {
        padding-right: 0px;
    }

    .productimage {
        height: 300px;
    }

    .cartcontainer {
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart-secondcontainter {
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    .cart-items {
        width: 395px;
    }
  }
